.root {
	margin: 1bh 0;
	padding: 0 1bh;
}

.nameHeading {
	margin: 1bh 0;

	font-size: calc(var(--typographicScale.14) * 1px);
	line-height: 3bh;
	font-weight: 800;
}

.categoryHeading {
	composes: sectionLevel1Heading from './Page.css';

	&:first-child {
		margin-top: 1.5bh;
	}
}

.category {
}

.categoryResults {
}

.categoryItem {
	margin: 0.5bh 0;

	&.isEmpty {
		p {
			font-size: calc(var(--typographicScale.9) * 1px);
			line-height: 1.5bh;
		}
	}
}

.categoryItemName {
	font-size: calc(var(--typographicScale.9) * 1px);
	line-height: 1.5bh;
	font-weight: 400;
	font-family: var(--heading.fontFamily);
	font-feature-settings: var(--heading.fontFeatures);
}

.categoryItemDescription {
}

.categoryItemLinks {
	li {
		display: inline;

		font-size: calc(var(--typographicScale.4) * 1px);
		font-weight: 600;
		line-height: 1bh;
		
		&:after {
			content: '\\';
			margin: 0 0.375bh;

			color: var(--colors.primary1.base);
		}

		&:last-child {
			&:after {
				content: none;
			}
		}
	}
}
