.root {
	margin: 1bh 0 -0.5bh;
	padding: 0 1bh;
}

.heading {
	composes: sectionLevel1Heading from './Page.css';
}

.filters {
	display: flex;
	margin: 1bh -1bh;

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		display: block;
	}
}

.filter {
	margin: 0 1bh;

	ol {
		display: flex;
		flex-wrap: wrap;

		font-size: calc(var(--typographicScale.4) * 1px);
		font-weight: 600;
		line-height: 1bh;

		li {
			&:before {
				content: '\\';
				margin: 0 0.375bh;

				color: var(--colors.primary1.base);
			}

			&:first-child {
				&:before {
					content: none;
				}
			}
		}
	}

	a {
		background-image: none;

		&:before {
			top: calc(-1 / 8 * 1bh);
			left: calc(-1 / 4 * 1bh);
			right: calc(-1 / 4 * 1bh);
			bottom: calc(-1 / 8 * 1bh);
		}
	}

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		margin: 1bh;
	}
}

.filtersHeading {
	composes: sectionLevel3Heading from './Page.css';
	margin-top: 0;
}

.filterList {
	.isSelected {
		font-weight: 700;
	}
}

.whiskies {
	margin: 1bh 0;
}

.whisky {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: -0.5bh;

	&:first-child {
		margin-top: 0;
	}
}

.result {
	margin: 1bh 0;
}

.resultHeader {
	display: flex;
	margin: 0 -1bh;

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		display: block;
	}
}

.resultHeading {
	composes: sectionLevel2Heading from './Page.css';
	margin: 0 auto 0 1bh;

	font-size: calc(var(--typographicScale.9) * 1px);
	line-height: 1.5bh;
	font-weight: 400;
	font-family: var(--heading.fontFamily);
	font-feature-settings: var(--heading.fontFeatures);
}

.points {
	margin: 0 1bh;

	text-align: right;

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		margin-top: 0.5bh;
		
		text-align: left;

		.pointsCount {
			margin-left: 0;
		}
	}
}

.resultHeadingLabel {
	composes: sectionLevel4Heading from './Page.css';
	margin: 0;
	display: block;

	font-size: calc(var(--typographicScale.2) * 1px);
}

.pointsCount {
	margin: 0.5bh 0 0.5bh 1bh;
	
	font-size: calc(var(--typographicScale.9) * 1px);
	line-height: 1.5bh;
	font-weight: 400;
	font-family: var(--heading.fontFamily);
	font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'dlig', 'lnum', 'tnum';
}

.pointsCountLabel {
	composes: sectionLevel4Heading from './Page.css';
	margin-bottom: 0;

	font-size: calc(var(--typographicScale.2) * 1px);
}
