.root {
	margin: 1bh 1bh 2bh;
	padding: 0.5bh 0 calc(0.5bh - 1 / 16 * 1bh);

	border-bottom: calc(1 / 16 * 1bh) solid var(--colors.text);

	ol {
		display: flex;

		font-size: calc(var(--typographicScale.4) * 1px);
		font-weight: 600;
		line-height: 1bh;

		li {
			position: relative;
			padding-left: 1bh;

			&:before {
				position: absolute;
				content: '\\';
				width: 0.5bh;
				left: 0.25bh;
				top: 0;

				color: var(--colors.primary1.base);

				text-align: center;
			}

			&:first-child {
				padding: 0;
				
				&:before {
					content: none;
				}
			}
		}
	}

	a {
		background-image: none;

		&:before {
			top: calc(-1 / 8 * 1bh);
			left: calc(-1 / 4 * 1bh);
			right: calc(-1 / 4 * 1bh);
			bottom: calc(-1 / 8 * 1bh);
		}
	}
}
