/**
 * Based on normalize.css v4.2.0 github.com/necolas/normalize.css
 */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

/**
 * Document
 */

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/**
 * Sections
 */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Grouping content
 */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Text-level semantics
 */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
 * Embedded content
 */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/**
 * Forms
 */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Interactive
 */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/**
 * Scripting
 */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/**
 * Hidden
 */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}






/**
 * Tables
 */

/**
 * Remove most spacing between table cells.
 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}


/**
 * Universal inheritance
 */
*,
::before,
::after {
	box-sizing: inherit;
}

*:not(text) {
	font-size: inherit;
	line-height: inherit;
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

/**
 * specify solid border style of all elements
 */
*,
::before,
::after {
	border-style: solid;
	border-width: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: top;
}

button,
input,
select,
textarea {
	color: inherit;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
}

code,
kbd,
pre,
samp {
	font-family: monospace;
}


select {
	-moz-appearance: none; /* Firefox 36+ */
	-webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
	display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
	color: currentColor; /* Internet Explorer 11+ */
}


/* hide content from screens but not screenreaders */
@media screen {
	[hidden~="screen"] {
		display: inherit;
	}

	[hidden~="screen"]:not(:active):not(:focus):not(:target) {
		clip: rect(0 0 0 0) !important;
		position: absolute !important;
	}
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/**
 * Page
 */
html {
	overflow-y: scroll;

	font: calc(var(--typographicScale.base) * 1px)/calc(var(--grid.baselineHeight) * 1px) var(--text.fontFamily);
}

body {
	box-sizing: border-box;
	position: relative;
	z-index: 0;
	width: 100%;
	min-height: 100%;
		
	padding: 0 1bh;
	margin: 0;
}


/**
 * Text
 */
html {
	color: var(--text.color);
	background-color: var(--text.backgroundColor);
	
	font-feature-settings: var(--text.fontFeatures);
}

body {
	font-size: calc(var(--typographicScale.base) * 1px);
	line-height: 1bh;
}

p {
	margin: 0;

	hyphens: auto;
	hyphenate-limit-lines: 3;
	hyphenate-limit-chars: 4 2 2;
	hyphenate-limit-zone: 2em;
}

::selection {
	color: var(--text.selection.color);
	background: var(--text.selection.backgroundColor);
	text-shadow: none;
}

code {
	font-family: Consolas, monospace;
	font-size: calc(var(--typographicScale.4) * 1px);
}

hr {
	position: relative;
	margin: 2bh 0;
	width: auto;
	height: 1bh;
	padding: 0;

	&:before {
		content: '\25ca';
		position: absolute;
		width: 1bh;
		height: 1bh;
		margin-left: -0.5bh;
		left: 50%;
		top: 0;

		color: var(--colors.primary1.base);

		font-weight: 600;
		text-align: center;
	}
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6,
.storyTitleHeading,
.storyLevel1Heading,
.storyLevel2Heading,
.storyLevel3Heading,
.storyLevel4Heading,
.sectionTitleHeading,
.sectionLevel1Heading,
.sectionLevel2Heading,
.sectionLevel3Heading,
.sectionLevel4Heading {
	position: relative;
	margin: 0;
	padding: 0;

	color: var(--heading.color);
	
	font-family: var(--heading.fontFamily);
	font-feature-settings: var(--heading.fontFeatures);
	hyphens: none;
}

.storyTitleHeading {
	margin: 0 0 2bh;
	padding-top: 0;
	
	font-size: calc(var(--heading.storyTitle.fontSize) * 1px);
	line-height: 3bh;
	font-weight: var(--heading.storyTitle.fontWeight);
	text-align: center;
	
	&:before {
		content: none;
	}
	
	b {
		display: block;
		margin-top: 1bh;
		
		font-size: calc(var(--typographicScale.4) * 1px);
		text-transform: uppercase;
	}
	
	.author {
		display: block;
		margin-top: 0.5bh;
		
		font-size: calc(var(--typographicScale.8) * 1px);
		font-weight: 600;
	}
}

.storyLevel1Heading {
	margin: 4bh 0 2bh;
	padding-top: 2bh;
	
	font-size: calc(var(--heading.storyLevel1.fontSize) * 1px);
	line-height: 2bh;
	font-weight: var(--heading.storyLevel1.fontWeight);
	text-align: center;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		height: 0;
		margin-left: calc(4bh * -0.5);
		width: 4bh;

		border-bottom: 2px solid var(--colors.primary1.base);
	}
	
	b {
		display: block;
		margin-top: 0.5bh;
		
		font-size: calc(var(--typographicScale.4) * 1px);
		text-transform: uppercase;
	}
}

.storyLevel2Heading {
	margin: 2bh 0 0.5bh;
	padding: 0;
	
	font-size: calc(var(--heading.storyLevel2.fontSize) * 1px);
	line-height: 1.5bh;
	font-weight: var(--heading.storyLevel2.fontWeight);
	text-align: left;

	&:before {
		content: none;
	}
}

.storyLevel3Heading {
	margin: 2bh 0 0.5bh;
	padding: 0;
	
	font-size: calc(var(--heading.storyLevel3.fontSize) * 1px);
	line-height: 1bh;
	font-weight: var(--heading.storyLevel3.fontWeight);
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	&:before {
		content: none;
	}
}

.storyLevel4Heading {
	margin: 2bh 0 0.5bh;
	padding: 0;
	
	font-size: calc(var(--heading.storyLevel4.fontSize) * 1px);
	line-height: 1bh;
	font-weight: var(--heading.storyLevel4.fontWeight);
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	&:before {
		content: none;
	}
}

.sectionTitleHeading {
	margin: 2bh 0;
	padding: 0;
	
	font-size: calc(var(--heading.sectionTitle.fontSize) * 1px);
	line-height: 3bh;
	font-weight: var(--heading.sectionTitle.fontWeight);
	text-align: left;

	&:before {
		content: none;
	}
	
	b {
		display: block;
		margin-top: 0.5bh;
		
		font-size: calc(var(--typographicScale.4) * 1px);
		text-transform: uppercase;
		font-weight: 600;
		line-height: 1bh;
	}
}

.sectionLevel1Heading {
	margin: 2bh 0 0.5bh;
	padding: 0.5bh 0 0.5bh;
	
	font-size: calc(var(--heading.sectionLevel1.fontSize) * 1px);
	line-height: 1bh;
	font-weight: var(--heading.sectionLevel1.fontWeight);
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 0;
		margin-left: 0;
		right: 0;

		border-bottom: calc(1 / 16 * 1bh) solid var(--colors.text);
	}
}

.sectionLevel2Heading {
	margin: 1bh 0 0.5bh;
	padding: 0;
	
	font-size: calc(var(--heading.sectionLevel2.fontSize) * 1px);
	line-height: 1bh;
	font-weight: var(--heading.sectionLevel2.fontWeight);
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	&:before {
		content: none;
	}
}

.sectionLevel3Heading {
	margin: 1bh 0 0.5bh;
	padding: 0;
	
	font-size: calc(var(--heading.sectionLevel3.fontSize) * 1px);
	line-height: 1bh;
	font-weight: var(--heading.sectionLevel3.fontWeight);
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	&:before {
		content: none;
	}
}

.sectionLevel4Heading {
	margin: 1bh 0 0.5bh;
	padding: 0;
	
	font-size: calc(var(--heading.sectionLevel4.fontSize) * 1px);
	line-height: 1bh;
	font-weight: var(--heading.sectionLevel4.fontWeight);
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	&:before {
		content: none;
	}
}


/**
 * Links
 */
a {
	position: relative;

	transition: var(--link.default.transition);

	color: var(--link.default.color);
	background-color: var(--link.default.backgroundColor);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--link.default.underlineColor) 50%);
	background-position: 0 var(--link.default.underlinePosition);
	background-repeat: repeat-x;
	background-size: calc(var(--link.default.underlineWidth) * 2px) calc(var(--link.default.underlineWidth) * 2px);
	
	text-shadow: 1px 0 white, -1px 0 white;
	text-decoration: none;
	font-weight: var(--link.default.fontWeight);
	
	&:visited {
		color: var(--link.visited.color);
		background-color: var(--link.visited.backgroundColor);
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--link.visited.underlineColor) 50%);
		background-size: calc(var(--link.default.underlineWidth) * 2px) calc(var(--link.default.underlineWidth) * 2px);
	}
			
	&:focus {
		color: var(--link.focused.color);
		background-color: var(--link.focused.backgroundColor);
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--link.focused.underlineColor) 50%);
		outline: var(--link.focused.outline);
		background-size: calc(var(--link.default.underlineWidth) * 2px) calc(var(--link.default.underlineWidth) * 2px);

		&:before {
			visibility: visible;
			
			border-color: var(--colors.neutral.tint.3);
		}
	}
		
	&:hover, &:active {
		color: var(--link.hovered.color);
		background-color: var(--link.hovered.backgroundColor);
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--link.hovered.underlineColor) 50%);
		background-size: calc(var(--link.default.underlineWidth) * 2px) calc(var(--link.default.underlineWidth) * 2px);
	}

	&[href=#] {
		background-image: none;
	}

	&:before {
		content: '';
		position: absolute;
		visibility: hidden;

		left: calc(-4 / 16 * 1bh);
		top: calc(-2 / 16 * 1bh);
		right: calc(-4 / 16 * 1bh);
		bottom: calc(-4 / 16 * 1bh);
		z-index: -1;

		border-color: transparent;
		border-width: 2px;
		border-radius: calc(3 / 16 * 1bh + var(--button.default.borderRadius));
		transition: bottom calc(var(--durations.fastest) * 1s) ease-in, border-color calc(var(--durations.fastest) * 1s) ease-in, box-shadow calc(var(--durations.fastest) * 1s) ease-in, visibility calc(var(--durations.fastest) * 1s) ease-in;

		border-style: dotted;
	}
}



h1, h2, h3, h4, h5, h6,
.storyTitleHeading,
.storyLevel1Heading,
.storyLevel2Heading,
.storyLevel3Heading,
.storyLevel4Heading,
.sectionTitleHeading,
.sectionLevel1Heading,
.sectionLevel2Heading,
.sectionLevel3Heading,
.sectionLevel4Heading {
	a {
		transition: var(--link.heading.default.transition);

		color: var(--link.heading.default.color);
		background-color: var(--link.heading.default.backgroundColor);
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--link.heading.default.underlineColor) 50%);
		background-position: 0 var(--link.heading.default.underlinePosition);
		background-repeat: repeat-x;
		background-size: calc(var(--link.heading.default.underlineWidth) * 2) calc(var(--link.heading.default.underlineWidth) * 2);
		
		font-weight: var(--link.heading.default.fontWeight);
		
		&:visited {
			color: var(--link.heading.visited.color);
			background-color: var(--link.heading.visited.backgroundColor);
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--link.heading.visited.underlineColor) 50%);
			background-size: calc(var(--link.heading.default.underlineWidth) * 2) calc(var(--link.heading.default.underlineWidth) * 2);
		}
		
		&:focus {
			color: var(--link.heading.focused.color);
			background-color: var(--link.heading.focused.backgroundColor);
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--link.heading.focused.underlineColor) 50%);
			background-size: calc(var(--link.heading.default.underlineWidth) * 2) calc(var(--link.heading.default.underlineWidth) * 2);
			outline: var(--link.heading.focused.outline);
		}
			
		&:hover, &:active {
			color: var(--link.heading.hovered.color);
			background-color: var(--link.heading.hovered.backgroundColor);
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--link.heading.hovered.underlineColor) 50%);
			background-size: calc(var(--link.heading.default.underlineWidth) * 2) calc(var(--link.heading.default.underlineWidth) * 2);
		}

		&[href=#] {
			background-image: none;
		}
	}
}


/**
 * Lists
 */
ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

ol {
	margin: 0;
	padding: 0;

	list-style: none;
}

.list, .orderedList {
	margin: 0.5bh 1bh;
	padding: 0;

	list-style: none;
	counter-reset: list;

	li {
		position: relative;

		&:before {
			content: '\25A0';
			position: absolute;
			right: 100%;
			top: -0.1em;
			width: 1bh;
			height: 1bh;

			color: var(--colors.primary1.base);

			font-weight: 400;
			text-align: center;
			counter-increment: list;
		}

		ul, ol {
			margin-left: b(0);

			counter-reset: list;

			li {
				&:before {
					/* content: '\2022'; */
				}
			}
		}
	}
}

.orderedList {
	li {
		&:before {
			content: counters(list, ".") " ";
			
			width: auto;
			top: calc((var(--typographicScale.base) - var(--typographicScale.4)) * 0.25px);
			padding-right: 0.5em;
			
			color: inherit;
			
			font-size: calc(var(--typographicScale.4) * 1px);
			font-weight: 600;
			text-align: left;
			font-feature-settings: 'tnum';
		}
		
		ul, ol {
			margin: 0.5bh 0 0.5bh 0.7em;

			li {
				&:before {
					content: counters(list, '.') ' ';
				}
			}
		}
	}
}


/**
 * Tables
 */

.table {
}

.tableHead {
}

.tableHead .tableCell {
	position: relative;
	padding-top: 0;
	padding-bottom: 1bh;

	font-weight: 600;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0.375bh;
		height: 2px;

		background-color: var(--colors.primary1.base);
	}
}

.tableBody {
}

.tableCell {
	padding: 0.25bh;

	font-weight: inherit;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}

	> code {
		line-height: 0;
	}
}


/**
 * Image
 */

.image {
	img {
		width: 100%;
	}
}


/**
 * Grid
 */
body {
	&:global(.hasGrid):after {
		content: '';
		position: absolute;
		left: 1bh;
		top: 0;
		bottom: 0;
		right: 1bh;
		z-index: 10;
		pointer-events: none;

		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.2) 46.4286%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 96.4286%, rgba(0, 0, 0, 0.1) 100%) 0 0 / 100% 1bh repeat, linear-gradient(to right,
			rgba(0, 0, 0, 0.15) 0%,
			rgba(0, 0, 0, 0.15) calc(0% + 1bh),
			rgba(0, 0, 0, 0.0) calc(0% + 1.00000001bh),
			rgba(0, 0, 0, 0.0) calc(49.99999999% - 1.00000001bh),
			rgba(0, 0, 0, 0.15) calc(49.99999999% - 1bh),
			rgba(0, 0, 0, 0.15) 49.99999999%,
			rgba(0, 0, 0, 0.1) 50%,
			rgba(0, 0, 0, 0.1) calc(50% + 1bh),
			rgba(0, 0, 0, 0.0) calc(50% + 1.00000001bh),
			rgba(0, 0, 0, 0.0) calc(100% - 1.00000001bh),
			rgba(0, 0, 0, 0.1) calc(100% - 1bh),
			rgba(0, 0, 0, 0.1) 100%) 0 0 / calc(2 / var(--grid.columns) * 100%) 100% repeat;
			
		@media screen and (min-width: 1px) and (max-width: 800px) {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.2) 46.4286%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 96.4286%, rgba(0, 0, 0, 0.1) 100%) 0 0 / 100% 1bh repeat, linear-gradient(to right,
			rgba(0, 0, 0, 0.15) 0%,
			rgba(0, 0, 0, 0.15) calc(0% + 1bh),
			rgba(0, 0, 0, 0.0) calc(0% + 1.00000001bh),
			rgba(0, 0, 0, 0.0) calc(49.99999999% - 1.00000001bh),
			rgba(0, 0, 0, 0.15) calc(49.99999999% - 1bh),
			rgba(0, 0, 0, 0.15) 49.99999999%,
			rgba(0, 0, 0, 0.1) 50%,
			rgba(0, 0, 0, 0.1) calc(50% + 1bh),
			rgba(0, 0, 0, 0.0) calc(50% + 1.00000001bh),
			rgba(0, 0, 0, 0.0) calc(100% - 1.00000001bh),
			rgba(0, 0, 0, 0.1) calc(100% - 1bh),
			rgba(0, 0, 0, 0.1) 100%) 0 0 / calc(2 / var(--grid.columns) * 200%) 100% repeat;
		}
	}
}

html {
	touch-action: manipulation;

	@media screen and (--compactPage-start-min) and (--compactPage-end-max) {
		font-size: calc(var(--typographicScale.5) * 1px);
		line-height: 1bh;
	}
}

@font-face {
	font-family: 'Brandon Text';
	font-weight: 800;
	font-style: normal;
	src: url('/whiskyRoku2016/assets/brandon-text-black.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-text-black.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Text';
	font-weight: 800;
	font-style: italic;
	src: url('/whiskyRoku2016/assets/brandon-text-black-italic.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-text-black-italic.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Text';
	font-weight: 700;
	font-style: normal;
	src: url('/whiskyRoku2016/assets/brandon-text-bold.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-text-bold.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Text';
	font-weight: 700;
	font-style: italic;
	src: url('/whiskyRoku2016/assets/brandon-text-bold-italic.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-text-bold-italic.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Text';
	font-weight: 300;
	font-style: normal;
	src: url('/whiskyRoku2016/assets/brandon-text-light.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-text-light.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Text';
	font-weight: 300;
	font-style: italic;
	src: url('/whiskyRoku2016/assets/brandon-text-light-italic.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-text-light-italic.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Text';
	font-weight: 600;
	font-style: normal;
	src: url('/whiskyRoku2016/assets/brandon-text-medium.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-text-medium.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Text';
	font-weight: 600;
	font-style: italic;
	src: url('/whiskyRoku2016/assets/brandon-text-medium-italic.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-text-medium-italic.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Text';
	font-weight: 400;
	font-style: normal;
	src: url('/whiskyRoku2016/assets/brandon-text-regular.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-text-regular.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Text';
	font-weight: 400;
	font-style: italic;
	src: url('/whiskyRoku2016/assets/brandon-text-regular-italic.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-text-regular-italic.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Text';
	font-weight: 200;
	font-style: normal;
	src: url('/whiskyRoku2016/assets/brandon-text-thin.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-text-thin.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Text';
	font-weight: 200;
	font-style: italic;
	src: url('/whiskyRoku2016/assets/brandon-text-thin-italic.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-text-thin-italic.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 800;
	font-style: normal;
	src: url('/whiskyRoku2016/assets/brandon-grotesque-black.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-grotesque-black.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 800;
	font-style: italic;
	src: url('/whiskyRoku2016/assets/brandon-grotesque-black-italic.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-grotesque-black-italic.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 700;
	font-style: normal;
	src: url('/whiskyRoku2016/assets/brandon-grotesque-bold.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-grotesque-bold.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 700;
	font-style: italic;
	src: url('/whiskyRoku2016/assets/brandon-grotesque-bold-italic.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-grotesque-bold-italic.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 300;
	font-style: normal;
	src: url('/whiskyRoku2016/assets/brandon-grotesque-light.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-grotesque-light.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 300;
	font-style: italic;
	src: url('/whiskyRoku2016/assets/brandon-grotesque-light-italic.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-grotesque-light-italic.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 600;
	font-style: normal;
	src: url('/whiskyRoku2016/assets/brandon-grotesque-medium.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-grotesque-medium.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 600;
	font-style: italic;
	src: url('/whiskyRoku2016/assets/brandon-grotesque-medium-italic.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-grotesque-medium-italic.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 400;
	font-style: normal;
	src: url('/whiskyRoku2016/assets/brandon-grotesque-regular.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-grotesque-regular.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 400;
	font-style: italic;
	src: url('/whiskyRoku2016/assets/brandon-grotesque-regular-italic.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-grotesque-regular-italic.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 200;
	font-style: normal;
	src: url('/whiskyRoku2016/assets/brandon-grotesque-thin.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-grotesque-thin.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque';
	font-weight: 200;
	font-style: italic;
	src: url('/whiskyRoku2016/assets/brandon-grotesque-thin-italic.woff2') format('woff2'), url('/whiskyRoku2016/assets/brandon-grotesque-thin-italic.woff') format('woff');
}
