.root {
	margin: 2bh 0;

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	pre {
		white-space: normal;
	}
}

.leftColumn {
	float: left;
	padding: 0 1bh;
	width: calc(6 / 10 * 100%);

	@media screen and (--compactPage-start-min) and (--singleColumnPage-end-max) {
		width: calc(7 / 12 * 100%);
	}

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		width: 100%;
	}
}

.rightColumn {
	float: right;
	padding: 0 1bh;
	width: calc(2 / 10 * 100%);
	margin: 0 calc(1 / 10 * 100%);
	max-height: 500px;

	background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;

	img {
		visibility: hidden;
		width: 100%;
		height: auto;
	}

	@media screen and (--compactPage-start-min) and (--singleColumnPage-end-max) {
		width: calc(3 / 12 * 100%);
		margin: 0 calc(1 / 12 * 100%);
	}

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		width: calc(8 / 12 * 100%);
		margin: 2bh calc(2 / 12 * 100%) 0;
	}
}

.fullColumn {
	float: left;
	padding: 0 1bh;
	width: calc(10 / 10 * 100%);
}

.heading {
	composes: sectionTitleHeading from './Page.css';
	position: relative;
	padding-left: 4bh;
	margin-left: 1bh;
	margin-right: 1bh;

	font-weight: 300;

	.islay &:before, .islay &:after,
	.islands &:before, .islands &:after,
	.highland &:before, .highland &:after,
	.lowland &:before, .lowland &:after,
	.speyside &:before, .speyside &:after,
	.campbeltown &:before, .campbeltown &:after,
	&:before, &:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 3bh;
		height: 3bh;

		border-radius: 50%;
		background-color: #eee;
		border: 0 none;
	}

	.islay &:after,
	.islands &:after,
	.highland &:after,
	.lowland &:after,
	.speyside &:after,
	.campbeltown &:after,
	&:after {
		left: 0.75bh;
		top: 0.75bh;
		width: 1.5bh;
		height: 1.5bh;

		background-color: transparent;
		border: 0.375bh solid #fff;
	}

	.islay.isSingleMalt &:after,
	.islands.isSingleMalt &:after,
	.highland.isSingleMalt &:after,
	.lowland.isSingleMalt &:after,
	.speyside.isSingleMalt &:after,
	.campbeltown.isSingleMalt &:after,
	.isSingleMalt &:after {
		left: 1bh;
		top: 1bh;
		width: 1bh;
		height: 1bh;

		background-color: #fff;
		border: 0 none;
	}

	.islay &:before {
		background-color: var(--colors.islay.2);
	}

	.islay &:after {
		border-color: var(--colors.islay.1);
	}

	.islay.isSingleMalt &:after {
		background-color: var(--colors.islay.1);
	}

	.islands &:before {
		background-color: var(--colors.islands.2);
	}

	.islands &:after {
		border-color: var(--colors.islands.1);
	}

	.islands.isSingleMalt &:after {
		background-color: var(--colors.islands.1);
	}

	.highland &:before {
		background-color: var(--colors.highland.2);
	}

	.highland &:after {
		border-color: var(--colors.highland.1);
	}

	.highland.isSingleMalt &:after {
		background-color: var(--colors.highland.1);
	}

	.lowland &:before {
		background-color: var(--colors.lowland.2);
	}

	.lowland &:after {
		border-color: var(--colors.lowland.1);
	}

	.lowland.isSingleMalt &:after {
		background-color: var(--colors.lowland.1);
	}

	.speyside &:before {
		background-color: var(--colors.speyside.2);
	}

	.speyside &:after {
		border-color: var(--colors.speyside.1);
	}

	.speyside.isSingleMalt &:after {
		background-color: var(--colors.speyside.1);
	}

	.campbeltown &:before {
		background-color: var(--colors.campbeltown.2);
	}

	.campbeltown &:after {
		border-color: var(--colors.campbeltown.1);
	}

	.campbeltown.isSingleMalt &:after {
		background-color: var(--colors.campbeltown.1);
	}
}

.title {
	b {
		display: inline;

		font-weight: 800;
		font-size: inherit;
		line-height: inherit;
		text-transform: none;
	}
}

.subtitle {
	display: block;

	font-size: calc(var(--typographicScale.4) * 1px);
	line-height: 1bh;
	font-weight: 600;
	text-transform: uppercase;
}

.attributeHeading {
	composes: sectionLevel4Heading from './Page.css';
	margin-bottom: 0;
}

.row {
	display: flex;
	margin: 0 -1bh;

	& + .row {
		margin-top: 1bh;
	}

	@media screen and (--compactPage-start-min) and (--singleColumnPage-end-max) {
		display: block;
	}
}

.rowItem {
	width: calc(2 / 6 * 100%);
	padding: 0 1bh;

	@media screen and (--compactPage-start-min) and (--singleColumnPage-end-max) {
		width: calc(6 / 6 * 100%);

		& + .rowItem {
			margin-top: 1bh;
		}
	}
}

.wideRowItem {
	width: 100%;
	padding: 0 1bh;

	@media screen and (--compactPage-start-min) and (--singleColumnPage-end-max) {
		width: 100%;

		& + .wideRowItem {
			margin-top: 1bh;
		}
	}
}

.votesHeading {
	composes: sectionLevel1Heading from './Page.css';
}

.whiskies {
	margin: 1bh 0;
}

.whisky {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: -0.5bh;

	&:first-child {
		margin-top: 0;
	}

	a {
		margin: 0.5bh 0;
		
		font-size: calc(var(--typographicScale.9) * 1px);
		line-height: 1.5bh;
		font-weight: 400;
		font-family: var(--heading.fontFamily);
		font-feature-settings: var(--heading.fontFeatures);

		background-image: none;
	}
}

.result {
	margin: 1bh 0 0;

	&:last-child {
		margin-bottom: -0.5bh;
	}
}

.resultHeader {
	display: flex;
	margin: 0 -1bh;

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		display: block;
	}
}

.resultHeading {
	composes: sectionLevel2Heading from './Page.css';
	margin: 0 auto 0 1bh;

	font-size: calc(var(--typographicScale.9) * 1px);
	line-height: 1.5bh;
	font-weight: 400;
	font-family: var(--heading.fontFamily);
	font-feature-settings: var(--heading.fontFeatures);
}

.points {
	margin: 0 1bh;

	text-align: right;

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		margin-top: 0.5bh;
		
		text-align: left;

		.pointsCount {
			margin-left: 0;
		}
	}
}

.resultHeadingLabel {
	composes: sectionLevel4Heading from './Page.css';
	margin: 0;
	display: block;

	font-size: calc(var(--typographicScale.2) * 1px);
}

.pointsCount {
	margin: 0.5bh 0 0.5bh 1bh;
	
	font-size: calc(var(--typographicScale.9) * 1px);
	line-height: 1.5bh;
	font-weight: 400;
	font-family: var(--heading.fontFamily);
	font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'dlig', 'lnum', 'tnum';
	white-space: nowrap;
}

.pointsCountLabel {
	composes: sectionLevel4Heading from './Page.css';
	margin-bottom: 0;

	font-size: calc(var(--typographicScale.2) * 1px);
}
